@page "/edit-order"
@page "/edit-order/{orderId}"
@using SalesOrderManager.Shared.Models;
@inject HttpClient Http;
@inject NavigationManager Navigator;
@inject IJSRuntime JsRuntime;

<p>Order Details</p>
<hr />

<EditForm Model="@order">
    <div class="input-group mt-md-5">
        <span class="input-group-text">Name</span>
        <InputText type="text" class="form-control" id="" placeholder="Name" @bind-Value="order.Name" />
        <span class="input-group-text">State</span>
        <InputText type="text" class="form-control" id="" placeholder="State" @bind-Value="order.State" />
        <button class="btn btn-outline-primary" type="button" @onclick="()=> UpdateOrder()">Update</button>
    </div>
</EditForm>


<p class="mt-md-5">Windows</p>
<hr />
<div>
    @if (order.Windows?.Count == 0)
    {
        <p>No windows found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity Of Windows</th>
                    <th>Total Subelements</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var window in order.Windows.ToList())
                {
                    <tr>
                        <td>@window.Name</td>
                        <td>@window.QuantityOfWindows</td>
                        <td>@window.TotalSubElements</td>
                        <td>
                            <button @onclick="(()=> DeleteWindow(window.Id))" class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<p class="mt-md-5">Subelements</p>
<hr />
<div>
    @if (order.Windows?.Count == 0)
    {
        <p>No subelements found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Window Name</th>
                    <th>Element</th>
                    <th>Type</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var window in order.Windows.ToList())
                {
                    @foreach (var subelement in window.SubElements)
                    {
                        <tr>
                            <td>@window.Name</td>
                            <td>@subelement.Element</td>
                            <td>@subelement.Type</td>
                            <td>
                                <input type="number" class="form-control" @bind="subelement.Width" />
                            </td>
                            <td>
                                <input type="number" class="form-control" @bind="subelement.Height" />
                            </td>
                            <td>
                                <button @onclick="()=> UpdateSubelement(subelement)" class="btn btn-outline-primary">Update</button>
                            </td>
                            <td>
                                <button @onclick="(()=> DeleteSubElement(subelement.Id))" class="btn btn-outline-danger">Delete</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

@code {

    [Parameter]
    public string orderId { get; set; }

    private Order order = new Order()
        {
            Windows = new List<Window>()
        };

    protected override async Task OnInitializedAsync()
    {
        order = await Http.GetFromJsonAsync<Order>($"api/Order/{orderId}");
    }

    private async Task DeleteSubElement(int subelementId)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var response = await Http.DeleteAsync($"api/subelement/{subelementId}");
            response.EnsureSuccessStatusCode();
            Navigator.NavigateTo($"/edit-order/{orderId}", true);
        }
    }

    private async Task DeleteWindow(int windowId)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "All the subelements associated with the window will aslo be deleted. Are you sure?");
        if (confirmed)
        {
            var response = await Http.DeleteAsync($"api/window/{windowId}");
            response.EnsureSuccessStatusCode();
            Navigator.NavigateTo($"/edit-order/{orderId}", true);
        }
    }

    private async Task UpdateOrder()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var response = await Http.PutAsJsonAsync($"api/order/{order.Id}", order);
            response.EnsureSuccessStatusCode();
            Navigator.NavigateTo($"/edit-order/{orderId}", true);
        }
    }

    private async Task UpdateSubelement(SubElement subelement)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var response = await Http.PutAsJsonAsync($"api/subelement/{subelement.Id}", subelement);
            response.EnsureSuccessStatusCode();
            Navigator.NavigateTo($"/edit-order/{orderId}", true);
        }
    }
}
